.scrim-section {
    margin-left: 40px;
    margin-top: 30px;
    height: 280px;
    width: 260px;
    background-color: rgb(122, 7, 122);
    border-radius: 20px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}

.scrim-section:hover {
    transform: scale(1.05);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.8);
}

.scrim-banner img {
    padding: 20px;
    padding-bottom: 0;
    height: 100px;
    width: 225px;
    border-radius: 35px;
}

.scrim-banner .time {
    color: white;
    font-size: 12px;
    padding-left: 23px;
}

.scrim-info {
    margin-left: 15px;
    margin-top: 10px;
}

.scrim-info p {
    padding-left: 8px;
    color: white;
    font-weight: bold
}

.scrim-info ul {
    color: white;
    font-weight: lighter;
    margin-top: 5px;
    margin-left: 75px;
    font-size: 14px;
}

.join-bt {
    padding: 5px;
    margin-left: 5px;
    margin-top: 10px;
    width: 210px;
    cursor: pointer;
    border-radius: 15px;
    border: none
}